@using DomainModels.Extensions
@{
    ViewBag.Title = "AddDocument";
    var message = ViewBag.Message;

}

<h2>@SR.T("Добавить документ")</h2>
@if (message != null)
{
    <p>@message</p>
}


@using (Html.BeginForm("AddDocument", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">

        <div class="form-group">
            @Html.Label(SR.T("Наименование документа"), new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.Editor("name", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(SR.T("Файл"), new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@SR.T("Добавить")" class="btn btn-default" />
            </div>
        </div>
    </div>
}