@using DomainModels.Extensions
@{
    ViewBag.Title = SR.T("Вход");
}
<h2>@SR.T("Добро пожаловать в MegaDoc")</h2>


@using (Html.BeginForm())
{
    <div class="form-horizontal">

        <div class="form-group">
            @Html.Label(SR.T("Логин"), new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.Editor("Login", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(SR.T("Пароль"), new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Password", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@SR.T("Войти")" class="btn btn-default" />
            </div>
        </div>
    </div>
}




